{% extends 'base/base.html' %}
{% load staticfiles %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/trifuerza.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="{% static 'js/jquery.minicolors.js' %}"></script>
    <link href="{% static 'css/jquery.minicolors.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
<body>
{% block modal %}
            <form method="POST">
                {% csrf_token %}
                <h1  style="color:#1b396b;">Modificar Datos De La Carrera</h1>
                    <div class="form-group">
                    {{ form.as_p }}
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-md">Guardar</button>
                    <a href="{% url 'carrera' %}" class="btn btn-danger btn-md mydanger">Regresar</a>
                </div>
            </form>
    {% block Container %}
    {% endblock %}

{% endblock %}
</body>
{% block js %}
    <script>$('#Color').minicolors({ animationEasing: 'swing'});</script>
{% endblock %}
