{% extends 'base/base.html' %}
{% load staticfiles %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/trifuerza.css' %}">
{% endblock %}

{% block modal %}
    <body onload="mostrarModal()">
    {% block divCarreras %}
        <div class="cardComp">
            <div class="cardManagerHead">Carreras</div>
            <div class="cardManagerBody" id="carrerasComp"></div>
            <div>
                <img class="addbutton" width="50px" height="50px" src="{% static 'Images/add.png' %}">
            </div>
        </div>
    {% endblock %}

    {% block divEspecialidades %}
        <div class="cardComp">
            <div class="cardManagerHead">Especialidades</div>
            <div class="cardManagerBody" id="especialidadesComp"></div>
            <img class="addbutton" width="50px" height="50px" src="{% static 'Images/add.png' %}">
            <div id="modal-wrapper" class="modal myform-bottom">
                <form style="background: #E6E6E6;" method="POST" class="modal-content" id="CarreraForm">
                    <br><br><h1>¿Desea eliminar el registro de la especialidad: <span style="color:#1AAE88;"><br><br><h1>{{ especialidad.especialidad }}?</h1>
                        </span></h1>
                    <div class="modal-body">
                         {% csrf_token %}
                         {{ form.as_p }}
                    </div>
                    <span onclick="cerrarModal()" class="close" title="Close Modal">&times;</span>

                    <div class="form-group">
                        <button type="submit" class="addbtn">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
    </body>
{% endblock %}

{% block js %}
    <script src="{% static 'js/jquery.minicolors.js' %}"></script>
    <link href="{% static 'css/jquery.minicolors.css' %}" rel="stylesheet" type="text/css" />
    <script>$('#ColorModal').minicolors({ animationEasing: 'swing'});</script>
{% endblock %}