{% extends 'base/base.html' %}
{% load staticfiles %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/trifuerza.css' %}">
{% endblock %}

{% block modal %}
    <body onload="mostrarModal()">
    {% block Container %}
        <div id="modal-wrapper" class="modal myform-bottom">
                <form style="background: #E6E6E6;" method="POST" class="modal-content" id="AtributoForm">
                    {% csrf_token %}
                    <h3  style="color:#1b396b;">Modificar Datos Del Grupo:
                        <span style="color:#ca2925;">
                            <h3>{{ grupos.clave }}</h3></span>
                    </h3>
                    <div class="modal-body">
                        <br>
                         {{ form.as_p }}
                    </div>
                    <span onclick="cerrarModalGrupos()" class="close" title="Close Modal">&times;</span>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <button onclick="cerrarModalGrupos()" class="btn btn-danger mydanger">Regresar</button>
                    </div>
                </form>
            </div>
    {% endblock %}
    </body>
{% endblock %}

{% block js %}
{% endblock %}