{% extends 'base/base.html' %}
{% load staticfiles %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/trifuerza.css' %}">
{% endblock %}

{% block modal %}
    <div class="row">
        <div class="col-lg-12 col-md-6">

            <h1><img width="8%" height="8%" src="{% static 'Images\grupo.png' %}">Grupos</h1>
        </div>
        <div class="col-lg-12 col-md-6">
            <table class="table table-hover">
            <thead>
                <th><h4>Clave</h4></th>
                <th><h4>Profesor</h4></th>
                <th><h4>Alumnos</h4></th>
                <th><h4>Modificar</h4></th>
                <th><h4>Eliminar</h4></th>

            </thead>
            <tbody>
            {% if object_list %}
                {% for grupos in object_list %}
                    <tr>
                        <td>
                            <a href=""><h5>{{ grupos.clave }}</h5></a>
                        </td>
                        <td>
                            {% if grupos.profesor %}
                                <h5> {{ grupos.profesor}}</h5>
                            {% else %}
                                <span style="color:red;"><h5>Sin Asignar</h5></span>
                            {% endif %}
                        </td>
                        <td>
                            {% if grupos.cantAlumnos %}
                                <h5> {{ grupos.cantAlumnos}}</h5>
                            {% else %}
                                <h5>Sin Asignar</h5>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'grupoModificar' grupos.id %}" class="btn btn-info btn-sm">
                              <span class="glyphicon glyphicon-edit"></span> Editar
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'grupoEliminar' grupos.id %}" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-trash"></span> Eliminar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        </div>
        <a href="{% url 'grupoRegistrar'%}"><img class="addbutton"  width="45px" height="45px" src="{% static 'Images/add.png' %}"></a>
    </div>
{% endblock %}
{%block js%}
{%endblock%}