{% extends 'base/base.html' %}
{% load staticfiles %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/trifuerza.css' %}">
{% endblock %}

{% block modal %}
    <body onload="mostrarModal()">
    {% block Container %}
        <div id="modal-wrapper" class="modal myform-bottom">
                <form style="background: #E6E6E6;" method="POST" class="modal-content" id="AtributoForm">
                    {% csrf_token %}
                    <br><br>
                    <h3  style="color:#1b396b;">¿Desea eliminar el registro del Alumno
                        <span style="color:#ca2925;">
                            <h3><span style="color:#1b396b;font-size: 24px;">N. Control:</span>{{ alumnos.nControl }}</h3>
                            <h3>{{ alumnos.nombre }}  {{ alumnos.ap_Pat}} {{ alumnos.ap_Mat }}</h3>
                        </span>
                    </h3>
                    <div class="modal-body">
                         {% csrf_token %}
                         {{ form.as_p }}
                    </div>
                    <span onclick="cerrarModalAlumnos()" class="close" title="Close Modal">&times;</span>

                    <div class="form-group">
                        <button type="submit" class="btn btn-danger btn-lg">Eliminar  <span class="glyphicon glyphicon-trash"></span></button>
                        <button onclick="cerrarModalAlumnos()" class="btn btn-primary btn-lg">Cancelar</button>
                    </div>
                </form>
            </div>
    {% endblock %}
    </body>
{% endblock %}

{% block js %}
{% endblock %}