{% extends 'base/base.html' %}
{% load staticfiles %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/trifuerza.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block modal %}
    <body onload="mostrarModal()">
    {% block Container %}
        <div id="modal-wrapper" class="modal myform-bottom">
                <form style="background: #E6E6E6;" method="POST" class="modal-content" id="AtributoForm">
                    {% csrf_token %}
                    <br><br>
                    <h4>¿Desea eliminar el registro del Profesor:
                        <span style="color:#1b396b;"><br><br>
                            <h1>{{ profesores.nombre }}  {{ profesores.ap_Pat}} {{ profesores.ap_Mat }}?</h1>
                        </span>
                    </h4>
                    <div class="modal-body">
                         {% csrf_token %}
                         {{ form.as_p }}
                    </div>
                    <span onclick="cerrarModalProfesores()" class="close" title="Close Modal">&times;</span>

                    <div class="form-group">
                        <button type="submit" class="btn btn-danger btn-lg">Eliminar  <span class="glyphicon glyphicon-trash"></span></button>
                        <button onclick="cerrarModalProfesores()" class="btn btn-primary btn-lg">Cancelar</button>
                    </div>
                </form>
            </div>
    {% endblock %}
    </body>
{% endblock %}

{% block js %}
{% endblock %}