{% extends 'base/base.html' %}
{% load staticfiles %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/trifuerza.css' %}">
{% endblock %}

{% block modal %}
    <div class="row">
        <div class="col-lg-12 col-md-6">

            <h1><img width="8%" height="8%" src="{% static 'Images\profesores.png' %}">Profesores</h1>
        </div>
        <div class="col-lg-12 col-md-6">
            <table class="table table-hover">
            <thead>
                <th><h4>Nombre(s)</h4></th>
                <th><h4>Apellidos</h4></th>
                <th><h4>Modificar</h4></th>
                <th><h4>Eliminar</h4></th>

            </thead>
            <tbody>
            {% if object_list %}
                {% for profesores in object_list %}
                    <tr>
                        <td id="{{ profesores.id }}">
                            <a href=""><h5>{{ profesores.nombre }}</h5></a>
                        </td>
                        <td>
                            <h5> {{ profesores.ap_Pat}} {{ profesores.ap_Mat }}</h5>
                        </td>
                        <td>
                            <a href="{% url 'profesorModificar' profesores.id %}" class="btn btn-info btn-sm">
                              <span class="glyphicon glyphicon-edit"></span> Editar
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'profesorEliminar' profesores.id %}" class="btn btn-danger btn-sm">
                              <span class="glyphicon glyphicon-trash"></span> Eliminar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        </div>
        <a href="{% url 'profesorRegistrar'%}"><img class="addbutton"  width="45px" height="45px" src="{% static 'Images/add.png' %}"></a>
    </div>
{% endblock %}
{%block js%}
{%endblock%}