{% extends 'base/base.html' %}
{% load staticfiles %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/trifuerza.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block modal %}
    <body onload="mostrarModal()">
    {% block Container %}
        <div id="modal-wrapper" class="modal myform-bottom">
                <form style="background: #E6E6E6;" method="POST" class="modal-content" id="AtributoForm">
                    {% csrf_token %}
                    <h1  style="color:#1AAE88;">Registrar Atributo</h1>
                    <div class="modal-body">
                        <br>
                        <div class="form-group">
                          <input type="text" placeholder="Nombre del Atributo" name="atributo" id="AtributoModal" class="input">
                        </div>
                         <!-- {{ form.as_p }} -->
                    </div>
                    <span onclick="cerrarModalAtributos()" class="close" title="Close Modal">&times;</span>

                    <div class="form-group">
                        <button type="submit" class="addbtn">Agregar</button>
                    </div>
                </form>
            </div>
    {% endblock %}
    </body>
{% endblock %}

{% block js %}
{% endblock %}